@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #333;
}

/* 헤더 영역 */
.header {
  width: 100%;
  height: 120px;
  background: #0fd;
  margin: 0 auto 50px;
}

.header:after {
  content: "";
  display: block;
  clear: both;
}

/* 로고 영역 */
.logo {
  float: left;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}

.logo-link {
  display: block;
  height: 100%;
}

/* 메뉴 영역 */
.gnb {
  float: right;
  height: 100px;
}

.gnb-depth1:after {
  content: "";
  display: block;
  clear: both;
}

.gnb-depth1-item {
  float: left;
  padding: 0 50px;
}

.gnb-depth1-link {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.gnb-depth1-link:hover {
  color: #f00;
}

/* 푸터 영역 */
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #ccc;
  background: #dedede;
  margin-top: 50px;
}

.footer-address {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.section-heading {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid red;
}

.section-heading-sub {
  font-size: 20px;
  margin: 30px 0;
}

.tab-section {
  width: 900px;
  margin: 0 auto;
}

.tab-menu:after {
  content: "";
  display: block;
  clear: both;
}

.tab-menu-list {
  float: left;
  padding: 20px;
  border: 1px solid #999;
  border-bottom: 0;
  cursor: pointer;
}

.tab-menu-list.on {
  background: #ddd;
}

.tab-content {
  display: none;
  height: 300px;
  border: 1px solid #999;
  padding: 20px;
  line-height: 1.6;
}

.tab-content.on {
  display: block;
}

.tab-area {
  width: 900px;
  position: relative;
  padding-top: 57px;
}

.tab-heading {
  width: 85px;
  position: absolute;
  top: 0;
  padding: 20px 0;
  border: 1px solid #999;
  border-bottom: 0;
  cursor: pointer;
  text-align: center;
}

.tab-heading.on {
  background: #ddd;
}

.tab-heading:nth-child(3) {
  left: 85px;
}

.tab-heading:nth-child(5) {
  left: 170px;
}

.tab-paragraph {
  display: none;
  height: 300px;
  border: 1px solid #999;
  padding: 20px;
  line-height: 1.6;
}

.tab-paragraph.on {
  display: block;
}
